body {
    font-family: sans-serif;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}

h1,
h2 {
    margin-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    border: 1px solid #ccc;
    padding: 6px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    transition: none;
}

button {
    margin: 5px 5px 5px 0;
}

.hide {
    display: none;;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.controls>div {
    flex: 1;
    min-width: 200px;
}

/* Labels */
.label-sheet {
    display: flex;
    flex-wrap: wrap;
    width: 8.5in;
    min-height: 11in;
    box-sizing: border-box;
}

.label {
    box-sizing: border-box;
    border: 2px dashed black;
    width: 2.5in;
    height: 5in;
    margin: 0.1in;
}
.label-line {
    width: 2.3in;
    width: 2.3in;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted darkgray;
}


.label-header {
    height: .75in;
    text-align: center;
}

.label-header > img {
    max-width: 100%;
    max-height: 100%;
}

.line {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 28pt;
}

.crossed {
    position: relative;
    color: black;
}

.crossed::after {
    content: "X";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.25em;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.circled {
    border: 2px solid black;
    border-radius: 50%;
    padding: 0 6px;
    line-height: 1;
}

.item-desc {
    font-size: 1rem;
    height:2in;
    min-height: 1.5rem;
    word-wrap: break-word;
    overflow: hidden;
}

.size {
    text-align: right;
    font-size: 18pt;
    overflow: hidden;
    margin-top: 0.5rem;
}

.barcode {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.price-seller {
    font-size:8pt;
    font-weight: bold;
    overflow: hidden;
    margin-top: 0.3rem;
}

.price-seller span {
    display: inline-block;
    width: 50%;
}

@keyframes highlight-hold-fade {
  0%, 60% { background-color: rgba(255,0,0,0.5); } /* first 3s red */
  100% { background-color: white; } /* fade to white over remaining 2s */
}

.invalid-highlight {
  animation: highlight-hold-fade 5s forwards; /* total 5s = 3s hold + 2s fade */
}

/* Web view 3 per row */
@media screen {
    .label-sheet {
        justify-content: flex-start;
    }

    .label {
        width: calc((100% / 3) - 0.25in);
    }
}
