@media print {
    .noPrint {
        display: none !important;
    }


    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }


    #app {
        margin-top: 0 !important;
    }

    .label-sheet {
        width: 8.5in;
        height: 11in;
        margin: 0;
    }

    .label {
        box-sizing: border-box;
    }

    .label:not(.selected) {
        display: none;
    }

    .label:nth-of-type(6n) {
        page-break-after: always;
    }

    .label-sheet:not(:first-of-type) {
        margin-top: -0.25in;
    }

    .printOnly {
        margin-top: 20px;
        display: block;
        visibility: visible;
    }

    html,
    body {
        height: auto !important;
    }

}

@page {
    size: letter;
    /*margin-top: 1.5in; /* or 1in for a full-inch margin */
}